<a href="https://colab.research.google.com/github/NathaliaBomtemp/python-basic-logic/blob/main/pythonClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aula 1 Python:**

In [ ]:
x=2

In [ ]:
type(x)

int

In [ ]:
print('Alô, mundo!')

Alô, mundo!

In [ ]:
y=input('Diga seu nome:')
print('Boa noite,', y, '!')

Diga seu nome:3
Boa noite, 3 !

In [ ]:
a = int(input('Entre com um número:'))
b = int(input('Entre com outro número:'))
c = a+b
print('A soma deles vale', c)

Entre com um número:3
Entre com outro número:4
A soma deles vale 7

**Vamos exercitar:** Calculemos o IMC de uma pessoa, a partir de seu peso e de sua altura.

IMC = peso / altura²

**IMC (kg/m2)	 - Classificação**

Menor que 18,5 - Magreza

18,5 a 24,9	- Normal

25 a 29,9	- Sobrepeso

30 a 34,9	- Obesidade grau I

35 a 39,9	- Obesidade grau II

Maior que 40 - Obesidade grau III

In [ ]:
peso = float(input('Entre com seu peso em kg: ').replace(',', '.'))
altura = float(input('Entre com sua altura em m: ').replace(',', '.'))
imc = peso / (altura**2)
print(f'Seu IMC vale {imc:.1f}'.replace('.', ','))
if imc < 18.5:
    print('Magro de ruim...')
elif imc < 25:
    print('Normal...')
elif imc < 30:
    print('Fortinho...')
elif imc < 35:
    print('Fofinho...')
elif imc <= 40:
    print('Fofão...')
else:
    print('Bariátrica já!!')

Entre com seu peso em kg: 89
Entre com sua altura em m: 1,76
Seu IMC vale 28,7
Fortinho...

Vamos exercitar as estruturas de **repetição**:

In [ ]:
i = 1
while i<=10:
    print(i, end=' ')
    i += 1  # é o mesmo i = i+1 ... não existe i++

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1, 11, 2):
    print(i, end=' ')

1 3 5 7 9

In [ ]:
for i in range(20, 0, -1):
    print(i, end=' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

**Mostre a tabuada de um número qualquer entrado pelo usuário:**

In [ ]:
n=int(input('Entre um número inteiro: '))
for i in range(1,11):
    print(f'{i} X {n} = {i*n}')

Entre um número inteiro: 5
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

**Principais estruturas de dados:**

**Arrays ou vetores:**

In [ ]:
mesStr = ['Janeiro', 'Fevereiro', 'Março', 'Abril',
          'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
          'Outubro', 'Novembro', 'Dezembro']
dias = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
mes = int(input("Qual o mês? "))
print(f'O mês {mesStr[mes-1]} tem {dias[mes-1]} dias')

Qual o mês? 2
O mês Fevereiro tem 28 dias

**Tupla:**

In [ ]:
mesStr = ('Janeiro', 'Fevereiro', 'Março', 'Abril',
          'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
          'Outubro', 'Novembro', 'Dezembro')
dias = (31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
mes = int(input("Qual o mês? "))
print(f'O mês {mesStr[mes-1]} tem {dias[mes-1]} dias')

Qual o mês? 2
O mês Fevereiro tem 28 dias